 [Unit]
 Description=Doser
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/home/kerinin/go/bin/doser -data /home/kerinin/data.db > /home/kerinin/doser.log 2>&1

 [Install]
 WantedBy=multi-user.target
